<a href="https://colab.research.google.com/github/Soot3/Submissions/blob/master/Stage_One_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stage One Assessment

Fuel quality data collated by the Federal Energy Regulatory Commision. Dataset gotten from this [GitHub](https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv) link.

The documentation provided gives some information on the columns in the dataset;
 - 'Record_id' : record id

 - 'Utility_id_ferc1': Utility id assigned by the FERC

 - 'Report_year': year of report

 - 'Plant_name_ferc1': the name of the plant

 - 'Fuel_type_code_pudl': the type of fuel

 - 'Fuel_unit': the unit of fuel

 - 'Fuel_qty_burned': the quantity of fuel burned

 - 'Fuel_mmbtu_per_unit': the measure of energy per unit

 - 'fuel_cost_per_unit_burned': the fuel cost per unit burned

 - 'Fuel_cost_per_unit_delivered': the cost of fuel delivered per unit

 - 'fuel_cost_per_mmbtu': the cost of fuel per mmbtu

First we import the dataset:

In [28]:
import pandas as pd
import numpy as np

In [2]:
fuel_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [23]:
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [24]:
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

Let's begin

## Question 1




---



---


If youâ€™re given two lists:

A = [1,2,3,4,5,6], B = [13, 21, 34]

The task is to create a list with the elements of A and B in a single dimension with output:

A_B =  [1,2,3,4,5,6,13, 21, 34]

---

In [27]:
A = [1,2,3,4,5,6]
B = [13,21,34]
A.extend(B)
A_B = A
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Question 2



---



---


How do you create an identity matrix in python?


---

In [30]:
matrix = np.identity(3)
matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Question 3



---



---


Which of the following fuel type code has the lowest average fuel cost per unit burned?

---

In [32]:
fuel_data.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4



---



---


What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

---

In [48]:
std_75perc = fuel_data['fuel_mmbtu_per_unit'].describe().loc[['std','75%']]
round(std_75perc, 2)

std    10.60
75%    17.01
Name: fuel_mmbtu_per_unit, dtype: float64

## Question 5



---



---


What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

---

In [40]:
skewness = fuel_data.skew()['fuel_qty_burned']
round(skewness, 2)

15.85

In [41]:
kurtosis = fuel_data.kurtosis()['fuel_qty_burned']
round(kurtosis, 2)

651.37

## Question 6



---



---


Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 


---

In [3]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [42]:
percentage = ((fuel_data['fuel_unit'].isnull().sum())/len(fuel_data['fuel_unit'])) *100
round(percentage, 3)

0.61

## Question 7



---



---


The feature with missing values falls under what category? What missing value 
imputation technique would you use?

---

The fuel_unit data is categorical so using the most frequent entry (mode) is best. Given that the missing values are a small percentage of the dataset, we can also delete the affected rows.

In [49]:
# Mode
fuel_data['fuel_unit'].value_counts()

mcf       11534
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [44]:
fuel_data['fuel_unit'].fillna('mcf', inplace=True)
fuel_data['fuel_unit'].value_counts()

mcf       11534
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

## Question 8



---



---


Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

---

In [45]:
fuel_data.corr(method='pearson')['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

The answer to this is the *'fuel_qty_burned'* & *'fuel_mmbtu_per unit'* columns

## Question 9



---



---


For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

---

In [46]:
test_series = fuel_data.groupby('report_year')['fuel_cost_per_unit_burned'].sum()
test_series.pct_change(periods = 4)

report_year
1994         NaN
1995         NaN
1996         NaN
1997         NaN
1998   -0.467365
1999   -0.703858
2000    2.777777
2001    0.102928
2002   -0.130617
2003    0.183406
2004   -0.434486
2005   -0.246397
2006    0.543145
2007    0.716863
2008    0.702318
2009    0.939203
2010    0.762400
2011    0.460971
2012    0.023485
2013    0.164458
2014    0.562218
2015   -0.304976
2016   -0.205813
2017   -0.203221
2018   -0.572250
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 10



---



---


Which year has the highest average fuel cost per unit delivered?

---

In [47]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64